/*  your css code here. If applicable */
 body {
            font-family: Arial, Helvetica, sans-serif;
        }

        h1 {
            text-align: center; /* Center-aligned heading */
        }

        /* All tables share this class */
        table.middle {
            margin: 20px auto;
            border-spacing: 1px;      /* spacing = 1px */
        }

        table.middle td, table.middle th {
            border: 1px solid black;  /* 1px solid border */
            padding: 1px;             /* cell padding = 1px */
        }

        /* Alignment classes */
        .center {
            text-align: center;
        }

        .right {
            text-align: right;
        }

        /* Background color classes */
        .green {
            background-color: green;
            color: white;
        }

        .blue {
            background-color: blue;
            color: white;
        }